<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Complete Profile</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="complete-profile-container">
    <h2>Complete Your Profile</h2>
    <form method="POST">
      <input type="text" name="username" placeholder="Choose a Username" required>
      <label for="part1">Enter</label>
      <input type="text" name="part1" placeholder="Enter Part 1 (e.g. xxxxxx)" required>
      <input type="text" name="part2" placeholder="Enter Part 2 (e.g. yyyyyy)" required>
      <button type="submit">Save Profile</button>
    </form>
  </div>
</body>
</html>
