<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard | Password Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  {% include '_nav.html' %}
  <div class="container">
    <h2>Welcome, {{ username }}</h2>
    <p style="text-align:center; font-size: 18px;">Secure your digital identity</p>
    <a href="/generate"><button>Generate Password</button></a>
    <a href="{{ url_for('google.profile') }}"><button style="margin-top: 15px;">Edit Profile</button></a>
    <a href="{{ url_for('help_page') }}"><button style="margin-top: 15px;">How It Works</button></a>
  </div>
</body>
</html>
